## **Loading the toronto csv file previously created using web scrapping**

In [8]:
import pandas as pd
df = pd.read_csv("/content/toronto.csv")
df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

## **Use the Geocoder package OR the csv file to create dataframe with longitude and latitude values**

In [5]:
df_lon_lat = pd.read_csv('/content/Geospatial_Coordinates.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
# Changing columns name such that we can merge with "df"
df_lon_lat.columns=['PostalCode','Latitude','Longitude']
df_lon_lat.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## **Merging the two dataframes into a single dataframe**

In [12]:
Toronto_df = pd.merge(df, df_lon_lat[['PostalCode','Latitude', 'Longitude']], on='PostalCode')
Toronto_df.head(12)

   PostalCode           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494
5         M9A         Etobicoke  ...  43.667856 -79.532242
6         M1B       Scarborough  ...  43.806686 -79.194353
7         M3B        North York  ...  43.745906 -79.352188
8         M4B         East York  ...  43.706397 -79.309937
9         M5B  Downtown Toronto  ...  43.657162 -79.378937
10        M6B        North York  ...  43.709577 -79.445073
11        M9B         Etobicoke  ...  43.650943 -79.554724

[12 rows x 5 columns]